# version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: postgres-notes_users
    environment:
      POSTGRES_DB: ${APP__CONFIG__DB__NAME}
      POSTGRES_USER: ${APP__CONFIG__DB__USER}
      POSTGRES_PASSWORD: ${APP__CONFIG__DB__PWD}
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped
    tty: true
    stdin_open: true

  redis:
    image: redis:7-alpine
    container_name: redis-notes_users
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes --appendfsync everysec

  notes_users:
    build: .
    container_name: notes_users
    ports:
      - "8001:8001"
    environment:
      APP__CONFIG__DB__HOST: postgres
      APP__CONFIG__DB__PORT: ${APP__CONFIG__DB__PORT}
      APP__CONFIG__DB__NAME: ${APP__CONFIG__DB__NAME}
      APP__CONFIG__DB__USER: ${APP__CONFIG__DB__USER}
      APP__CONFIG__DB__PWD: ${APP__CONFIG__DB__PWD}

      APP__CONFIG__REDIS__HOST: redis
      APP__CONFIG__REDIS__PORT: ${APP__CONFIG__REDIS__PORT}

      APP__CONFIG__MODE: ${APP__CONFIG__MODE}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    command: ["bash", "-c", "alembic upgrade head && python main.py"]
    restart: always

volumes:
  postgres_data:
    driver: local
  redis_data:
